<!DOCTYPE html>
<html lang="tr">
@Html.Partial("~/Views/AdminPartial/_AdminHeaderScriptPartial.cshtml")
<body>

    @await Component.InvokeAsync("_AdminDashboardHeader")

    @Html.Partial("~/Views/AdminPartial/_AdminSidebarPartial.cshtml")

    <main id="main" class="main">
        @RenderBody()
    </main>


    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    @Html.Partial("~/Views/AdminPartial/_AdminScriptPartial.cshtml")
</body>
</html>






